.navBar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navBar :global(a) {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.navBar :global(button) {
  border: 1px solid #4472ca;
  background-color: #fff;
  color: #4472ca;
}

.navBar
  :global(.ant-btn-variant-outlined):not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  border: 1px solid #fff;
  background-color: #4472ca;
  color: #fff;
}

.navBar {
  display: flex;
  align-items: center;
  gap: 30px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* Links */
.navBar :global(a) {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

/* Buttons */
.navBar :global(button) {
  border: 1px solid #4472ca;
  background-color: #fff;
  color: #4472ca;
}

/* Button hover */
.navBar
  :global(.ant-btn-variant-outlined):not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  border: 1px solid #fff;
  background-color: #4472ca;
  color: #fff;
}

@media (max-width: 768px) {
  .navBar {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .showMenu {
    max-height: 500px;
    opacity: 1;
    margin-bottom: 20px;
  }

  .navBar :global(a),
  .navBar :global(button) {
    width: 100%;
    text-align: center;
    padding: 10px 15px;
  }
}
