.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  align-self: center;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.total {
  white-space: nowrap;
  flex-shrink: 0;
}

.searchWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 200px;
}

.buttonView,
.buttonSend {
  font-size: 12px;
  padding: 6px 12px;
  min-width: 130px;
  text-align: center;
}

@media (max-width: 768px) {
  .topBar {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }

  .searchWrapper {
    justify-content: stretch;
  }

  .total {
    text-align: center;
  }
  .buttonView,
  .buttonSend {
    font-size: 12px;
    padding: 2px 4px;
    width: 100%;
    text-align: center;
  }
}
