.footer {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  background-color: #4472ca;
<<<<<<< HEAD
  padding: 18px;
=======
>>>>>>> 75ec155 (creating button, navbar,  header and footer reusable components)
}
