.readonlyInput Input {
  pointer-events: none; /* 禁止鼠标交互 */ 
  border-color: #d9d9d9 !important;
  color: rgba(0, 0, 0, 0.65);
}
 
.readonlyInput Input:hover,
.readonlyInput Input:focus {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

